extends layout

block content
    p Your name: #{examReport.user}
    p Your score: #{examReport.score} / 100
    p Details:
    ul
        li
            span.ie-user-correct Correct answer
        li
            span.ie-userWrong Wrong answer
        li        
            span.ie-correct Missed answer
    each question, questionIndex in examReport.questions        
        p
            img.ie-questionResult(src="/images/#{question.result}.png")
            span= (questionIndex + 1) + '. ' + question.content
        table
            each answer, answerIndex in question.answerCandidates
                tr
                    td
                        span= '(' + String.fromCharCode('a'.charCodeAt() + answerIndex) + ') '
                        - var resultClass = 'ie-' + answer.result
                        span(class=resultClass)= answer.content
