extends layout

block content
    p Your name: #{examReport.user}
    p Your score: #{examReport.score} / 100
    p Details:
    ul
        li
            span.userCorrect Correct answer
        li
            span.userWrong Wrong answer
        li        
            span.correct Missed answer
    each question, questionIndex in examReport.questions        
        - var picName = 
        p
            img.questionResult(src="/images/#{question.result}.png")
            span= (questionIndex + 1) + '. ' + question.content
        table
            each answer, answerIndex in question.answerCandidates
                tr
                    td
                        span= '(' + String.fromCharCode('a'.charCodeAt() + answerIndex) + ') '
                        span(class=answer.result)= answer.content
